Source: arch-install-scripts
Section: devel
Priority: optional
Maintainer: Jubei Mitsuyoshi <jubei.house.of.five.masters@gmail.com>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.4
Homepage: https://projects.archlinux.org/arch-install-scripts.git

Package: arch-install-scripts
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, bash, coreutils, archlinux-pacman, util-linux
Description: archlinux install scripts
 Braught to debian to facilitate running a naitive
 arch chroot under debian
